#Header {
    background-color: rgba(128, 128, 128, 0.275);
    display:flex;
}
#Navbar {
        display: inline-flex;
        list-style: none;
        padding: 20px;
        margin-left: 200px;
}

#Navbar li {
    padding-right: 70px;
}

#logo {
    width: 300px;
}
